In [ ]:
"""scrape some yahoo finance tickers in order to do some extra feature engineering with the xgboost model
note that this requires the development release of pandas_datareader
"""

In [2]:
import pandas as pd
import pandas_datareader as pdr
import datetime

In [3]:
# first define the yahoo finance tickers I want
tickers = ['SYY', 'FDP', 'SENEA', 'CAG', 'KR']

In [5]:
# snag data from april 1-5 to show what the data looks like:
start_ex = datetime.datetime(2018, 4, 1)
end_ex = datetime.datetime(2018, 4, 5)

example = pdr.get_data_yahoo(tickers[0], start_ex, end_ex)
example

                 High        Low       Open      Close     Volume  Adj Close
Date
2018-04-02  59.930000  58.119999  59.880001  58.360001  3255300.0  58.016766
2018-04-03  59.520000  58.500000  58.560001  59.439999  2362000.0  59.090408
2018-04-04  61.470001  59.060001  59.060001  61.209999  3631500.0  60.850002
2018-04-05  61.259998  60.139999  61.040001  60.310001  3912000.0  60.310001

In [19]:
# now grab data for the tickers from 2007-01-01 until today
start = datetime.datetime(2007, 1, 1)
end = datetime.date.today()

first_ticker = pdr.get_data_yahoo(tickers[0], start, end)

first_ticker = first_ticker['Adj Close'].rename(tickers[0])

# now concat the other tickers
for i in tickers[1:]:
    ticker_data = pdr.get_data_yahoo(i, start, end)
    # the data are in reverse chronological order so sort and reset the indices
    ticker_data = ticker_data['Adj Close'].rename(i)
    first_ticker = pd.concat([first_ticker, ticker_data], axis=1)
    
first_ticker.to_csv('./alternate_data/yftickers.csv')